body{
    background-color: grey;
}
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}
.container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    align-items: center;
    margin: 4%;
}

#f{
    position: absolute;
    right: 55%;
}
#t{
    position: absolute;
    right: 15%;
}
.nav-link {
    color: white;
    font-size: calc(1rem + 4vw); 
    text-decoration: none;
    margin-left: 20px;
    font-family: Impact;
}
img {
    height: 13vw;
    margin: 2%;

}
#Image1{
    position: relative;
    width: 80%;
    height: calc(1rem + 50vw);
    border: 10px black solid;
    border-radius: 30px ;
    text-align: center;
    left: 8%;
 
 
   
}
.szoveg1{
width: 583px;
height: 144px;
color: white;
font-size: 20px;    
font-family: Inknut Antiqua; font-weight: 400;
word-wrap: break-word;
text-align: center;
margin: 9px;
}
.szoveg2{
width: 545px;
height: 100px;
color: white;
font-size: 20px; font-family: Inknut Antiqua; font-weight: 400;
word-wrap: break-word;
text-align: center;
margin: 9px;
}
.Rectangle2{
    position: relative;
    width: calc(1rem + 60vw);
    height: auto;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 40px;
    float: right;
    max-width: 569px;
    margin: 1%;
    margin-right: 7%;
    margin-top: 5%;
   
}
.Rectangle3{
    position: relative;
    width: calc(1rem + 60vw);
    height: auto;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 45px;
    float: left;
    max-width: 569px;
   margin: 1%;
   margin-left: 7%;
   margin-top: 5%;
 
}
.Rectangle2, .Rectangle3 {
    width: 90%;
    height: auto;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 40px;
    max-width: 569px;
    margin: 0 auto;
}

.szoveg1, .szoveg2 {
    color: white;
    font-size: 20px;
    font-family: Inknut Antiqua;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
    padding: 20px; }