body{
    background-color: grey;
}
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}
.container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    align-items: center;
    margin: 4%;
}

#f{
    position: absolute;
    right: 55%;
}
#t{
    position: absolute;
    right: 15%;
}
.nav-link {
    color: white;
    font-size: calc(1rem + 4vw); 
    text-decoration: none;
    margin-left: 20px;
    font-family: Impact;
}
img {
    height: 13vw;
    margin: 2%;
}
#Image1{
    position: absolute;
    width: 80%; 
    height: calc(1rem + 55vw);
    border: 10px black solid;
    border-radius: 30px ;
    right: 8%;


    
}

