body{
    background-color: rgba(0, 0, 0, 52%);

}
.navbar-custom {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}
.container-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    align-items: center;
    margin: 4%;
}

#f{
    position: absolute;
    right: 55%;
}
#t{
    position: absolute;
    right: 15%;
}
.nav-link {
    color: white;
    font-size: calc(1rem + 4vw); 
    text-decoration: none;
    margin-left: 20px;
    font-family: Impact;
}
img {
    height: 13vw;
    margin: 2%;
}
.Image1{
    width: 1301px; 
    height: 551.88px; 
    border: 10px black solid;
    border-radius: 30px ;
    text-align: center;
    margin-top: 40px;


    
}
.szoveg1{
width: 583px;
height: 144px;
color: white;
font-size: 20px;     
font-family: Inknut Antiqua; font-weight: 400;
word-wrap: break-word;
text-align: center;
}
.szoveg2{
width: 545px;
height: 100px; 
color: white;
font-size: 20px; font-family: Inknut Antiqua; font-weight: 400; 
word-wrap: break-word;
float: right;
}
.Rectangle2{
    width: 569px;
    height: 166px;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 40px;
    float: right;
}
.Rectangle3{
    width: 569px;
    height: 166px;
    background: rgba(0, 0, 0, 0.59);
    border-radius: 40px;
    float: left;

}



